* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.page {
  display: grid;
  grid-template-areas:
          "header header header header"
          "main main main article"
          "footer footer footer footer";
  grid-gap: 10% 1%;

  & .header {
    grid-area: header;
    border: 1px solid red;
  }

  & .main {
    grid-area: main;
    border: 1px solid green;
  }

  & .article {
    grid-area: article;
    border: 1px solid yellow;
  }

  & .footer {
    grid-area: footer;
    border: 1px solid grey;
  }
}

@media  (max-width: 960px) {
  .page {
    display: grid;
    grid-template-areas:
            "header"
            "main"
            "article"
            "footer";
  }
}
